site_name: pgEdge Anonymizer

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search

theme:
  name: material
  custom_dir: docs/overrides
  favicon: img/favicon.ico

  logo_dark_mode: 'img/logo-dark.png'
  logo_light_mode: 'img/logo-light.png'

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.prune
    - navigation.top
    - toc.follow

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  generator: false

copyright: Copyright &copy; 2025 pgEdge, Inc
repo_url: https://github.com/pgEdge/pgedge-anonymizer

nav:
  - pgEdge Anonymizer:
      - Introduction: index.md
      - Best Practices: best_practices.md
  - Installing pgEdge Anonymizer:
      - Installing Anonymizer: installation.md
      - Creating a Configuration File: configuration.md
      - pgEdge Anonymizer Quickstart: quickstart.md
  - Using pgEdge Anonymizer:
      - Using Anonymizer: usage.md
  - Creating and Using Patterns:
      - Creating a User-Defined Pattern: custom_pattern.md
      - Using Pre-defined Patterns: patterns.md
      - Example - Configuration File: sample_config.md
  - Troubleshooting: troubleshooting.md
  - pgEdge Anonymizer Release Notes: changelog.md
  - Licence: LICENCE.md